@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

  

<script src="~/jss/calculator.js." asp-append-version="true"></script>
<script src="~/js/calculator.js." asp-append-version="true"></script>
 <link rel="stylesheet" href="/css/calculator.css."/>
         
      


<div class='calc'>
    <div id='display'></div>
    <button id='one'>1</button>
    <button id='two'>2</button>
    <button id='three'>3</button>
    <button id='plus'>+</button>
    <button id='four'>4</button>
    <button id='five'>5</button>
    <button id='six'>6</button>
    <button id='minus'>-</button>
    <button id='seven'>7</button>
    <button id='eight'>8</button>
    <button id='nine'>9</button>
    <button id='multiply'>x</button>
    <button id='reset'>C</button>
    <button id='zero'>0</button>
    <button id='dec'>.</button>
    <button id='divide'>/</button>
    <button id='equals'>=</button>
    <button id='clear'>CE</button>
</div>